- extends "base.html"

- block(:body) do
  %h1 About
  %p
    I'm based in London, UK. I'm a nice, jolly guy, you don't have to be afraid of contacting me :)

  %h2 Do you want to hire me?
  %p
    I have a very strong Ruby knowledge. I specialise in pure, non-web Ruby &amp; JavaScript development. I wrote <a href="http://github.com/botanicus">tons of OSS</a>, contributed to projects such as RubyGems, rSpec or Merb and I worked for companies such as VMware.

  %p
    One of my best soft skills is my <strong>ability to organise myself</strong>. Tell me your goal and leave me alone, I'll take care about it!

  %p
    I'm a visionaire and I'm trying to see the future without any bias. Therefore I see many opportunities a long time before other people. I had a Git-based deployment long time before Heroku did it for example. I also created <a href="http://github.com/botanicus/pupu">the first framework with template inheritance in Ruby</a>.

  %p
    I'm available for hire in London on-site, remotely world-wide or, if you'll give me a really good reason, I'm willing to relocate anywhere. <strong>I'm an artist</strong> though, not a machine: I do my job to change the world, not to get my paycheque. It means you have to offer me an interesting and challenging job. And I need some space and flexibility, like working from home, at least once a week.

  %p
    Can you offer that? Great, so just check my <a href="http://static.101ideas.cz/CV.html">CV</a> and <a href="mailto:stastny@101ideas.cz">send me an offer</a>!

  %h2 Get in touch!
  %ul
    %li
      %a{href: "http://github.com/botanicus"} My GitHub
    %li
      %a{href: "http://twitter.com/botanicus"} My Twitter
    %li
      %strong E-mail:
      %a{href: "mailto:stastny@101ideas.cz"} stastny@101ideas.cz
    %li
      %strong Jabber:
      %a{href: "mailto:stastny@101ideas.cz"} botanicus@njs.netlab.cz
