- extends "base.html"

- block(:body) do
  %h2 What?
  %p
    Apple. 37Signals. Who's next? We are!

  %h2 Who? Why?
  %p
    I'm <a href="http://twitter.com/botanicus">botanicus</a>, nice to e-meet you! I'm a successful IT developer. I do what I love and I have decent income. And yet I want more: I want to make products which change the world, which their users love and which even make them to camp before shops as it happened with the first release of iPhone.

  %h2 Right, so you can talk ...
  %p
    I can <strong>make things happen</strong> as well! I work on couple of projects, first alpha versions shall be available during spring 2011.

  %h2 Interested? Get in touch!
  %p
    If you'd like to participate, whether as a developer or as a co-founder, just <a href="mailto:stastny@101ideas.cz">get in touch</a>! I have some projects I'm working on, although I don't want to put any information to the internet until it will be at least in alpha version. But if you're really interested, I'll be happy to tell you!

  %h2 Links
  %ul
    %li
      %a{href: "http://blog.101ideas.cz"} Blog 101Ideas.cz
    %li
      %a{href: "http://twitter.com/botanicus"} Twitter @botanicus
    %li
      %a{href: "mailto:stastny@101ideas.cz"} stastny@101ideas.cz
