- extends "base.html"

- block(:body) do
  %h1 OSS Projects
  %p
    %em OSS stands for open source software. I give all software I develop available for free for all the people, so everyone can benefit from it. You can find everything at <a href="http://github.com/botanicus">my GitHub profile</a>, here are my most important projects.

  %h2
    %a{href: "http://github.com/botanicus/pupu"} Pupu
  %p Pupu is a very unique project, it's a package manager for assets. Install, update and search packages by one command? For example <code>pupu install botanicus/blueprint</code> will download and install BlueprintCSS framework from <a href="http://github.com/botanicus/pupu-blueprint">GitHub</a>, how easy is that?

  %h2
    %a{href: "http://github.com/botanicus/git-deployer"} Git-Deployer
  %p Do you like Heroku deployement via simple <code>git push</code>? This is what Git-Deployer does, but it does it better: it works for any framework and programming language, and it provides hooks to customise.

  %h2
    %a{href: "http://github.com/botanicus/rango"} Rango
  %p The only framework with template inheritance in the Ruby world! I even extracted the templating as <a href="http://github.com/botanicus/template-inheritance">Template Inheritance library</a>.

  %h2
    %a{href: "http://github.com/botanicus/formidable"} Formidable
  %p

  %h2
    %a{href: "http://github.com/botanicus/nake"} Nake
  %p
